<div ng-init="stellarium()">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Benvenuto <small>{{username}}</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> Dashboard
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <img src="images/gif-load.gif" ng-show="pending <0" />
                            <div class="huge" ng-show="pending>=0">Hai {{pending}}</div>
                            <div>Eventi in attesa</div>
                        </div>
                    </div>
                </div>
                <a ng-click="GetEvents('pending')">
                    <div class="panel-footer">
                        <span class="pull-left">Dettagli</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <img src="images/gif-load.gif" ng-show="running <0" />
                            <div class="huge" ng-show="running>=0">Hai {{running}}</div>
                            <div>Eventi in corso!</div>
                        </div>
                    </div>
                </div>
                <a ng-click="GetEvents('running')">
                    <div class="panel-footer">
                        <span class="pull-left">Dettagli</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-support fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div>Inserisci un nuovo evento</div>
                        </div>
                    </div>
                </div>
                <a href="#/Event">
                    <div class="panel-footer">
                        <span class="pull-left">Vai</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row" ng-init="getTopFive()">
        <div class="col-lg-12">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> La top 5 delle più cliccate su sbariapp questa settimana</h3>
                </div>
                <div class="panel-body">
                    <div id="topFive"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height:600px;">

</div>